html, body {
    font-family: sans-serif;
}
body {
    margin: 15px;
    background-color: rgb(228, 228, 228);
}

.popup-message {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 15px;
    width: 350px;
    min-height: 80px;
}
.popup-message_style-class {
    border-radius: 4px;
    background-color: #feb960;
    box-shadow: 0px 0px 8px #feb960;
    transition: .3s ease-out;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}
.popup-message_hide {
    opacity: 0;
    visibility: hidden;
}
.message-wrapper {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

